.header,
.footer,
.content {
    @extend %grid;
}

.header__nav,
.header__title {
    @extend %grid__item;
    @extend %one-half;
}

.footer {
    @extend %grid--center;

    .footer__links {
        @extend %grid__item;
        @extend %one-half;
        text-align: center;
    }
}

.header__title { color: $main; }

.header__nav { text-align: right; }
