<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SamLR.com {{ page.title | replace("_", " ") }}</title>
    <meta property="og:title" content="SamLR.com"/>
    <meta name="description" content="The personal site of Sam Cook"/>
    <meta name="og:description" content="The personal site of Sam Cook"/>
    <meta property="og:url" content="https://www.samlr.com"/>

    <!-- Styles -->
    {# Normal font #}
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic' rel='stylesheet' type='text/css'>
    {# Monospaced #}
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href="/css/main.min.css" rel="stylesheet">
    <link rel="icon" href="/images/samlr_favicon.gif" type="image/gif">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25158927-1']);
      _gaq.push(['_setDomainName', 'samlr.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    {# ### Header ### #}
    <header class="header">
        <div class="header__title">
            <h1><a href="/">SamLR.com</a></h1>
        </div>{#
      #}<nav class="header__nav">
            {% set navigation_bar = [
                ('/', 'home', 'home'),
                ('/blog.html', 'blog', 'blog'),
                ('/about_me.html', 'about', 'about me')
                ] %}
            {% set active_page = active_page|default('blog') %}
            <ul id="navigation" class="inline-list"> <!-- hack to align navpills with bottom of 'SamLR.com' -->
                {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    {# ### BODY ### #}
    <section class="content">
        {% block _main %}
        <div class="content__main">
            {% block body %}
            {% endblock body %}
        </div>{#
      #}<aside class="content__aside">
            {% block rightside %}
            {% endblock rightside %}
        </aside>
        {% endblock _main %}
    </section>

    {# ### FOOTER ### #}
    <footer class="footer">
        <ul class="inline-list footer__links">
            <li><micro><muted><small>Find me:</small></muted></micro></li>
            <li><h5><a href="mailto:sam@samlr.com" target="_blank">Email</a></h5></li>
            <li><strong>|</strong></li>
            <li><h5><a href="https://twitter.com/sam_cook">Twitter</a></h5></li>
            <li><strong>|</strong></li>
            <li><h5><a href="https://www.linkedin.com/pub/sam-cook/35/54b/8b1">LinkedIn</a></h5></li>
            <li><strong>|</strong></li>
            <li><h5><a href="https://github.com/SamLR">GitHub</a></h5></li>
            <li><strong>|</strong></li>
            <li><h5><a href="http://www.flickr.com/photos/samlr/">flickr</a></h5></li>
        </ul>
    </footer>

    {% block scripts %}
    {# ### Scripts block ### #}
    {% endblock scripts %}
</body>
</html>
