{% extends "base" %}

{% block body %}
    <h2>
        {{ page.title | replace("_"," ") }} 
    </h2>
    {% block post_body %}
    {# Have the posts write into this block, not body #}
    {% endblock post_body %}
    <div class="footnote">
        {% block footnote %}
            
        {% endblock footnote %}
    </div>

<p>
    <small>Posted: {{ page.date.day }}th {{ page.date.month | get_month_str }} {{ page.date.strftime("%Y") }}</small>
</p>
{% endblock body %}
{% block rightside %}
    <h2>&nbsp;</h2> {# hack to get nice alignment at the top #}
    {% block post_right %}
    {% endblock post_right %}
{% endblock rightside %}