{% extends "base" %}

{% block body %}
<article>
    <h2>
        {{ page.title | replace("_"," ") }} 
    </h2>

    <p class="content__posted"><small>Posted: {{ page.date.day }}th {{ page.date.month | get_month_str }} {{ page.date.strftime("%Y") }}</small></p>

    {% block post_body %}
    {# Have the posts write into this block, not body #}
    {% endblock post_body %}
    <div class="footnote">
        {% block footnote %}
            
        {% endblock footnote %}
    </div>

</article>
{% endblock body %}
{% block rightside %}
    {% block post_right %}
    {% endblock post_right %}
{% endblock rightside %}