----- YAML front matter -----
layout: base
--- End YAML front matter ---
{% set active_page="about" %}

{% block body %}
  <p>
  My name is Sam. I'm (currently) a PhD student studying physics at UCL in London. Where I work on two projects: MuSIC, a muon beam-line being build in Osaka, Japan, and <a href="http://www.xfel.eu/">Eu-XFEL</a>, an X-ray source which I write firmware for.
  </p>
<p>
  In my spare time I have helped run <a href="http://emfcamp.org">EMFcamp</a> (the first UK hacker camp). Helped with three 48hr sci-fi film challenges (as part of the <a href="http://www.youtube.com/user/tortoisebutler">Tortoise Butler</a> team) as well as several other short films with the same crew.
  </p>
{% endblock body %}
{% block rightside %}
{# Gallery of interesting thumbnails here #}
{% endblock rightside %}
