----- YAML front matter -----
layout: base
--- End YAML front matter ---
{% block _main %}
<div class="blog-list">
    <p>My recent postings:</p>
    {% for year in site.posts | groupby(attribute="date.year") | reverse %}
        {% set first_year = loop.first %}
        {% for month in year.list | groupby(attribute="date.month") | reverse %}
            <div class="blog-list__title" onclick="hideBlock('group-{{ year.grouper }}-{{ month.grouper }}')">
                {{ year.grouper }} {{ month.grouper | get_month_str }}
            </div>
            <dl class="blog-list__posts" id="group-{{ year.grouper }}-{{ month.grouper }}" {% if not (first_year and loop.first) %}style="display:none;"{% endif %}>
                {% for post in month.list | sort(attribute="date.day", reverse=true) %}
                    <dt><a href="{{ post.url }}">{{ post.title | replace("_", " ") }}</a></dt>
                    <dd>{{ post.metadata['summary'] }}</dd>
                {% endfor %}
            </dl>
        {% endfor %}
    {% endfor %}
    <p>
        I blog about what I want and when I want. A lot of this stuff will be write ups of projects I'm on with the occasional extended comment on someone else's work. As much as possible I'll try to keep it interesting but I make no promises.
    </p>
</div>
{% endblock _main %}

{% block scripts %}
    <script>
        function hideBlock (id) {
            'use strict';
            var elementToHide = document.getElementById(id);
            var currentStyle = elementToHide.style.display;

            if (currentStyle === 'none') {
                elementToHide.style.display = 'block';
            } else {
                elementToHide.style.display = 'none';
            }
        }
    </script>
{% endblock scripts %}
