--- YAML!
layout: base
---
{% set active_page="home" %}

{% block body %}
<H4>Hello...</H4>
<p>
    ...And welcome to my blog, well that's mainly what this is. I mainly write about what ever interests me and that can be many things: projects, games I've played, science or anything else that catches my interest.
</p>
<p>
    If you want to know more about me here's the <a href="/about_me.html">about me</a> pages and at the bottom of the page are links to my various profiles.
</p>
<strong>Most recent blog post:</strong>
<dl>
    <dt>
        {% set blog=(site.posts | sort(reverse=true, attribute="date") | first()) %}
        <a href="{{ blog.url }}">
            {{ blog.date.strftime("%Y-%m-%d") }} {{ blog.title }}
        </a>
    </dt>
    <dd>
        {{ blog.metadata['summary'] }}
    </dd>
</dl>
{% endblock body%}

{% block rightside %}
<img src="images/mug_shot.jpg" alt="What I look like whilst talking about physics after 3 days running a festival..." class="mug-shot">
<small>Copyright 2012 <a href="https://www.flickr.com/photos/hllns/7908610662/">David Sullivan</a></small>

{% endblock rightside %}
