--- YAML!
layout: base
---
{% set active_page="home" %}

{% block body %}
<div class="well">
    <H4>Hello...</H4>
    <p>
        ...And welcome to my blog, well that's mainly what this is. I mainly write about what ever interests me and that can be many things: projects, games I've played, science or anything else that catches my interest. 
    </p>
    <p>
        If you want to know more about me here's the <a href="/about_me.html">about me</a> pages and at the bottom of the page are links to my various profiles.
    </p>
</div>
<p><strong>Most recent blog post</strong></p>
<dl class="dl">
    <dt>
        {% set blog=(site.posts | sort(reverse=true, attribute="date") | first()) %}
        <a href="{{ blog.url }}">
            {{ blog.date.strftime("%Y-%m-%d") }} {{ blog.title }}
        </a>
    </dt>
    <dd>
        {{ blog.metadata['summary'] }}
    </dd>
</dl>
{% endblock body%}

{% block rightside %}
<div>
    <img src="images/mug_shot.jpg" width="75%" alt="Mug Shot" class="img-rounded">
    <p>
        <small>Copyright 2012 <a href="http://www.flickr.com/photos/hllns/7908610662/">David Sullivan</a></small>

    </p>
    <p>
        <small>What I look like whilst talking about physics after 3 days running a festival...</small>
    </p>
</div>

{% endblock rightside %}