/* The entire thing is done as a grid */
.header, .footer, .content {
  @extend %grid;
  @extend %grid__item;
  @extend %one-whole;
}

/* All sub elements are grid items */
.header__nav, .header__title,
.content__main, .content__aside,
.footer__links {
  @extend %grid__item;
}

/*
 * Header stuff
 * Split the header 50/50 title/buttons
 */
.header__nav, .header__title { @extend %one-half; }
.header__title { color: $main; }
.header__nav { text-align: right; }
.header__nav .active { @extend %bold; }

/*
 * Body stuff
 * Main content is 60/30 body to aside
 */
.content__main {
  @extend %lap--two-thirds;
  @extend %desk--two-thirds;
  margin: 0;
}

.content__aside {
  @extend %lap--one-third;
  @extend %desk--one-third; 
}

/*
 * Footer stuff
 * Footer is centered and 1/2
 */
.footer { @extend %grid--center; }

.footer__links {
  @extend %one-half;
  text-align: center;
}

.footnote {
  $para-spacing: $gutter / 2;

  margin-top: $gutter;
  padding-top: $para-spacing;
  font-size: $h5-font-size;
  border-top: 1px solid $text;

  p { margin-bottom: $para-spacing; }
}